*{
	margin:0;
	padding:0;
}
a{
	text-decoration:none;
}
html,body{
	height: 100%;
}
body{
	background: url(../images/bg-1.jpg)  no-repeat;
	/*background-size: 100% 100%;*/
}
.head {
	width:80%;
	height:50px;
	color:#ffffff;
	text-align:center;
	margin:0 auto;
	padding-top:100px;
}
.head p{
		font-family:"Comic Sans MS",simsun,FangSong_GB2312;
		line-height:50px;
		font-size:30px;
		width:100%;
}
.nav{
	color:#ffffff;
	text-align:center;
	margin:150px auto;
}
.nav:after{
	content:"";
	display: block;
	height:0px;
	width:0px;
	line-height:0px;
	visibility:hidden;
	clear:both;
}
.nav{
	room:1;
}
@media(min-width: 1024px){
	body{
		background-size: 100% 100%;
	}
	.nav{
		width: 60%;
	}
	.nav_notes{
		margin-left:30px;
	}
	.nav div{
		width:21%;
		height: 180px;
		float:left;
		opacity:0.8;
		filter:alpha(opacity=80);
	}
	.nav a{
		background:#000000;
		display:inline-block;
		width:100%;
		height:100%;
		position:relative;
	}
	.nav a span{
		font-size:20px;
		color:#fff;
		width: 100%;
		position:absolute;
		/*top:110px;*/
		left: 50%;
		margin-left: -50%;
	}
}
@media(max-width: 1024px){
	.nav{
		width: 690px;
	}
	.nav_notes{
		margin-left:30px;
	}
	.nav div{
		width:150px;
		height: 180px;
		float:left;
		margin-bottom: 50px;
		opacity:0.8;
		filter:alpha(opacity=80);
	}
	.nav a{
		background:#000000;
		display:inline-block;
		width: 100%;
		height: 100%;
		position:relative;
	}
	.nav a span{
		font-size:20px;
		color:#fff;
		width: 100%;
		position:absolute;
		/*top:110px;*/
		left: 50%;
		margin-left: -50%;
	}
}
@media(max-width: 768px){
	.nav{
		width: 80%;
	}
	.nav .nav_notes,.nav .nav_about{
		float: left;
		margin-left:0;
	}
	.nav .nav_home,.nav .nav_work{
		float: right;
		margin-left: 0;
	}
	.nav div{
		width:45%;
		height: 180px;
		margin-bottom: 50px;
		opacity:0.8;
		filter:alpha(opacity=80);
	}
	.nav a{
		background:#000000;
		display:inline-block;
		position:relative;
	}
	.nav a span{
		font-size:20px;
		color:#fff;
		width: 100%;
		position:absolute;
		/*top:110px;*/
		left: 50%;
		margin-left: -50%;
	}
}
.nav a,.nav a span{
	transition: 1s;
}
.nav_about a:hover,.nav_home a:hover,.nav_notes a:hover,.nav_work a:hover{
	background: #fff;
}
.nav_about a:hover span{
	background:url(../images/about1.png) no-repeat center 30px;
	background-size:40px;
	color: #388AC1;
}
.nav_about a span{
	padding-top: 110px;
	background:url(../images/about.png) no-repeat center 30px;
	background-size:40px;
}
.nav_home{
	margin-left:30px;
}
.nav_home a:hover span{
	background:url(../images/home1.gif) no-repeat center 30px;
	background-size:40px;
	color: #388AC1;
}
.nav_home a span{
	padding-top: 110px;
	background:url(../images/home.gif) no-repeat center 30px;
	background-size:40px;
}
.nav_notes a:hover span{
	background:url(../images/note1.gif) no-repeat center 30px;
	background-size:40px;
	color: #388AC1;
}
.nav_notes a span{
	padding-top: 110px;
	background:url(../images/note.gif) no-repeat center 30px;
	background-size:40px;
}
.nav_work{
	margin-left:30px;
}
.nav_work a:hover span{
	background:url(../images/works1.gif) no-repeat center 30px;
	background-size:40px;
	color: #388AC1;
}
.nav_work a span{
	padding-top: 110px;
	background:url(../images/works.gif) no-repeat center 30px;
	background-size:40px;
}
.footer {
	width:100%;
	position: absolute;
	top: 630px;
	bottom: 0px;
/*	height:104px;*/
	color:#ffffff;
	text-align:center;
	margin:0 auto;
}
.footer p{
		font-family:"Comic Sans MS",simsun,FangSong_GB2312;
		line-height:100%;
		font-size:20px;
		width:100%;
}